@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 16px;
   color: #F5F5F5;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
}

.who-we-are {
   margin: 130px 0;
}

.who-we-are__container {
   max-width: 1020px;
   margin: 0 auto;
}


.who-we-are__content {
   background-color: #5D62B5;
   height: 700px;
   border-radius: 40px;
   padding: 93px 87px 54px 87px;
   position: relative;
}


.who-we-are__content::before {
   content: "";
   width: 201px;
   height: 317px;
   background-image: url("../img/Circles.svg");
   position: absolute;
   left: 894px;
   top: -110px;
}

.who-we-are__content::after {
   content: "";
   width: 665px;
   height: 591px;
   background-image: url("../img/Blob.png");
   position: absolute;
   left:-16px;
   top:254px;
}

.title {
   margin-bottom: 36px;
   max-width: 583px;
}
.title__subtitle {
   margin-bottom: 35px;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 700;
   position: relative;
   padding-left: 23px;
   line-height: 200%;
   letter-spacing: 3.5px;
}

.title__subtitle::before {
   content:"";
   background-image: url("../img/Mark.svg");
   background-repeat: no-repeat;
   width: 20px;
   height: 20px;
   position: absolute;
   top: -2px;
   left:-8px;
}

.title__main {
   font-weight: 900;
   color: #FFFFFF;
   font-size: 36px;
   line-height: 117%;
}
.who-we-are__text {
   font-weight: 400;
   line-height: 150%;
   margin-bottom: 55px;
   letter-spacing: 0.15px;
}

.who-we-are__image {
   min-width: 100%;
}

.image__dog {
   border-radius: 40px;
   filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
   position: absolute;
   top:400px;
   left:85px;
   z-index: 2;
}